extends layout

block scripts
    script(src='/javascripts/index_script.js')
    script(src='/javascripts/welcome_script.js')
    script(src='/javascripts/CSSPlugin.min.js')
    script(src='/javascripts/TweenLite.min.js')
    script.
        var imageArray = "#{images}".split(',');

block content
    div#overlay
        div#welcomeFloater Welcome to #[span.make1 Make]#[span.make2 I]#[span.make1 t] #[span.make2 Labs]
            div Tap to start.
        //div.overImage.top
        //div.overImage.bot

    div#content
        h1 Hi #[span#user]! What areas are you using this visit?
        h2 Select as many as needed

        div#container
            for area in areas
                div.areaBtn #{area}

        div#est_time
            //h2 #[span.est_text Estimated time] Hours:#[input#numInputHr(value="2" min="0" max="59" type="number")] Minutes:#[input#numInputMn(value="0" min="0" max="59" type="number")]
            span Arrival: #[span.arrival]

        div
            div#submit Submit
            div#skip Skip Sign In... #[span#timer]
